/***************************
/*Variables
/***********************/
	

/***************************
/*Menu
/************************/
#Dashboard {
 text-align : center;
}

#Dashboard  li:nth-child(4), #Dashboard  li:nth-child(7), #Dashboard  li:nth-child(10) {
clear: both;
}

.item-menu {
    display : block;
	float : left;
	list-style-type: none;
	margin : 10px;
	span{
		font-size: 0.5em;
	}
}

.icone-menu{
	display :  block;
}







