/***************************
/*Variables
/***********************/
	

/***************************
/*Images
/************************/
#contact img{
	float : left;
	margin : 10px;
}


#InfoContact{
margin-top : 10 px;
	clear : both;
}