/***************************
/*Variables
/***********************/
	

/***************************
/*Images
/************************/
.post_img{
	float : left;
	margin : 10px;

}

.screen_name{
	display : inline;
	margin-right: 5px;
	
}

.name{
	display : inline;
}

.post_text{
	margin-top : 5px;
	white-space : pre-wrap;
}

.post_content{
	float : right;
	}


